<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ajobs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link type="images/x-icon" rel="shortcut icon" href="/yuns/img/logo.png">
  <link rel="stylesheet" href="/yuns/css/bootstrap.min.css">

  <script src="/yuns/js/jquery-3.4.1.min.js"></script>
  <script src="/yuns/js/vue.js"></script>
  <script src="/yuns/js/bootstrap.min.js"></script>
  <script src="/yuns/js/popper.min.js"></script>

  <link rel="stylesheet" href="/yuns/css/cusstyle.css">
</head>
<body>
<div class="input-group mb-3 mt-2">
  <input type="text" style="text-align: center" class="form-control" placeholder="输入关键字"
         aria-describedby="basic-addon1" id="input_username_id">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-outline-primary" id="btn_name_id" >搜索</button>
  </div>
</div>

<div class="table-responsive" id="show_user_table_id">
  <div v-if="comIds.length>0" class="pl-2">
    <button type="submit" style="width: 80px" class="btn btn-primary mb-2"
            @click="indicatorCurPAge()">搜索
    </button>
    <input type="number" class="w-25" v-model="pageNumber" placeholder="输入页数">
    <br>
    <button type="button" style="width: 80px" class="btn btn-info" @click="flyPage(-1)">上一页</button>
    <button type="button" style="width: 80px" class="btn btn-info" @click="flyPage(1)">下一页</button>
    <span>{{currentPageIndex}}</span>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>图像</th>
      <th>用户名</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(pic,index) in pics">
      <td><img :src="pic" style="max-width: 230px"/></td>
      <td>
        <div style=" max-height: 100px;  width: 150px;  overflow: auto;"><a
            @click="toUsername(index)">{{usernames[index]}}</a></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


</body>
<script src="/yuns/js/loadingEle.js"></script>
<script src="/yuns/js/showOrHiddenLoadingDiv.js"></script>
<script src="/yuns/js/users.js"></script>
</html>